<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="./community.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=[object Object]&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=[object Object]&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=[object Object]&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=[object Object]&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=[object Object]&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="community">
    		<div class="hero-section">
      			<div class="hero-text-wrapper">
        				<div class="headline-1">Welcome to my Culinary Haven!</div>
        				<div class="button-parent">
          					<div class="button">
            						<div class="explore-recipes">Explore Recipes</div>
            						<div class="button-child">
            						</div>
          					</div>
          					<div class="community-button">
            						<div class="upload-your-recipe">Upload Your Recipe</div>
          					</div>
        				</div>
        				<div class="paragraph-1">Zuzu, and step into the hearth of my people! I am Aunkra, a daughter of the hills, carrying the flavors of my land into Zestora. Each dish I share is not just food, but a piece of our story, a weaving of tradition, memory, and spirit. Here, every recipe is a song of the forest, a river’s tale, and a symphony of taste born from the heart of my tribe</div>
      			</div>
    		</div>
    		<div class="about-section">
      			<div class="biography-wrapper">
        				<div class="image-wrapper">
          					<div class="button2">
            						<div class="text">Follow me</div>
            						<div class="icon-wrapper">
              							<img class="icon" alt="">
              							
              							<img class="community-icon" alt="">
              							
              							<img class="icon2" alt="">
              							
            						</div>
          					</div>
        				</div>
        				<div class="text-wrapper">
          					<b class="headline-2">From Hillside Roots to Campus Dreams</b>
          					<div class="paragraph-2">Born in the serene hills of the Chittagong Hill Tracts, my story with food began in the warmth of my people’s hearth. The fragrance of bamboo shoots, wild herbs, and river fish shaped my earliest memories, while shared meals taught me that food is not only nourishment but also memory, identity, and togetherness. Every dish was a story — a piece of tradition passed down through generations.</div>
          					<div class="paragraph-8">Now, as a student at Jagannath University, my journey has taken me from the quiet hills to the vibrant heart of Dhaka. Campus life has added new flavors to my days — conversations with friends, quick bites between classes, and late-night study sessions that always seem to end with food. Cooking has become my bridge, keeping me connected to my roots while opening me up to new tastes and inspirations in the city.</div>
          					<div class="paragraph-3">Whether you’re a fellow student looking for comfort food, or a curious traveler in search of something new, I welcome you to Zestora. Here, we will cook, share, and savor not just meals, but memories woven from both roots and journeys.</div>
          					<div class="paragraph-4">Warmest regards,</div>
          					<div class="paragraph-11">Aunkra</div>
        				</div>
        				<img class="whatsapp-image-2025-08-25-at-0" alt="">
        				
      			</div>
      			<div class="gallery-wrapper">
        				<div class="community-gallery-wrapper">
          					<img class="image-icon" alt="">
          					
          					<img class="community-image-icon" alt="">
          					
          					<img class="image-icon2" alt="">
          					
          					<img class="image-icon3" alt="">
          					
        				</div>
        				<div class="gallery-wrapper2">
          					<img class="image-icon" alt="">
          					
          					<img class="community-image-icon" alt="">
          					
          					<img class="image-icon2" alt="">
          					
          					<img class="image-icon3" alt="">
          					
        				</div>
      			</div>
    		</div>
    		<div class="featured-section">
      			<div class="header-wrapper">
        				<b class="community-headline-2">featured recipes</b>
        				<img class="arrow-wrapper-icon" alt="">
        				
      			</div>
      			<div class="card-wrapper">
        				<div class="recipe-card">
          					<img class="recipe-image-icon" alt="">
          					
          					<div class="community-text-wrapper">
            						<div class="copy">
              							<b class="headline-3">Fried Dried Shrimp With Loitta Shutki</b>
              							<div class="community-paragraph-2">Fried and marinated in garlic, diced onion, turmeric, chili powder</div>
            						</div>
            						<div class="info-wrapper">
              							<div class="community-text">40 Min - easy prep - 3 serves</div>
              							<div class="button3">
                								<div class="text2">view recipe</div>
              							</div>
            						</div>
          					</div>
        				</div>
        				<img class="recipe-card-icon" alt="">
        				
        				<div class="text-wrapper2">
          					<div class="copy">
            						<b class="headline-3">Sidol Aru Mangsho Thali</b>
            						<div class="community-paragraph-2">Marinated with sidol, spices and many more</div>
          					</div>
          					<div class="info-wrapper">
            						<div class="community-text">30 Min - medium prep- 4 serves</div>
            						<div class="button3">
              							<div class="text2">view recipe</div>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="cta-section">
      			<div class="cta-bg">
        				<div class="bg">
        				</div>
        				<div class="bg-wrapper">
          					<div class="community-bg">
          					</div>
        				</div>
      			</div>
      			<div class="text-wrapper3">
        				<div class="text5">
          					<div class="text6">subscribe</div>
          					<div class="header-2">
            						<p class="join-the-fun">Join the fun</p>
            						<p class="join-the-fun">Subscribe now!</p>
          					</div>
          					<div class="community-paragraph-1">Subscribe to our newsletter for a weekly serving of recipes, cooking tips, and exclusive insights straight to your inbox.</div>
        				</div>
        				<div class="input-wrapper">
          					<div class="input">
            						<div class="text7">Email Address</div>
          					</div>
          					<div class="button5">
            						<div class="text2">subscribe</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="footer">
      			<div class="wrapper">
        				<div class="logo-footer">
        				</div>
        				<div class="link-wrapper">
          					<div class="text9">Home</div>
          					<div class="separation-line">
          					</div>
          					<div class="text10">recipes</div>
          					<div class="community-separation-line">
          					</div>
          					<div class="text11">cooking tips</div>
          					<div class="separation-line2">
          					</div>
          					<div class="text12">About us</div>
        				</div>
        				<div class="community-icon-wrapper">
          					<img class="icon" alt="">
          					
          					<img class="icon3" alt="">
          					
          					<img class="icon4" alt="">
          					
          					<img class="icon5" alt="">
          					
        				</div>
        				<div class="zestora">Zestora</div>
      			</div>
      			<div class="small-text">Copyright: © 2025 zestora.</div>
    		</div>
    		<div class="navigation">
      			<div class="logo-nav-bar">
        				<div class="div" id="divContainer">
          					<div class="community-div">
            						<div class="community-zestora">Zestora</div>
          					</div>
        				</div>
      			</div>
      			<div class="community-link-wrapper">
        				<div class="link" id="linkContainer">
          					<div class="text13">Home</div>
        				</div>
        				<div class="community-link">
          					<div class="text14">RECIPES</div>
        				</div>
        				<div class="link2">
          					<div class="text13">CATEGORIES</div>
        				</div>
        				<div class="link2">
          					<div class="text13">GUIDEBOOKS</div>
        				</div>
        				<div class="link4" id="linkContainer4">
          					<div class="text17">cooking tips</div>
        				</div>
        				<div class="link5">
          					<div class="text13">COMMUNITY</div>
        				</div>
        				<div class="link2">
          					<div class="text13">about us</div>
        				</div>
      			</div>
      			<img class="search-icon" alt="">
      			
      			<div class="button-wrapper">
        				<div class="button-group">
          					<div class="button6" id="buttonContainer">
            						<div class="login">Login</div>
          					</div>
          					<div class="button7" id="buttonContainer1">
            						<div class="sign-up">Sign Up</div>
          					</div>
        				</div>
      			</div>
    		</div>
  	</div>
  	
  	
  	
  	
  	<script>
    		var divContainer = document.getElementById("divContainer");
    		if(divContainer) {
      			divContainer.addEventListener("click", function (e) {
        				// Add your code here
      			});
    		}
    		
    		var linkContainer = document.getElementById("linkContainer");
    		if(linkContainer) {
      			linkContainer.addEventListener("click", function (e) {
        				// Add your code here
      			});
    		}
    		
    		var linkContainer4 = document.getElementById("linkContainer4");
    		if(linkContainer4) {
      			linkContainer4.addEventListener("click", function (e) {
        				// Add your code here
      			});
    		}
    		
    		var buttonContainer = document.getElementById("buttonContainer");
    		if(buttonContainer) {
      			buttonContainer.addEventListener("click", function (e) {
        				// Add your code here
      			});
    		}
    		
    		var buttonContainer1 = document.getElementById("buttonContainer1");
    		if(buttonContainer1) {
      			buttonContainer1.addEventListener("click", function (e) {
        				// Add your code here
      			});
    		}</script></body>
</html>
