{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zestora - Log in</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>
<body>
  <a href="{%url 'home'%}">
  <div class="logo">Zestora</div>
</a>
    <a href="{% url 'signup' %}" class="account-link">No Account?<br>Sign up</a>
    
    <div class="login-container">
        <div class="welcome-text">Welcome to Zestora</div>
        <h1 class="login-title">Log in</h1>
        
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label class="form-label">Enter your username/email</label>
                <input type="text" name="username" class="form-input" placeholder="username or email address" required>
            </div>
            
            <div class="form-group">
                <label class="form-label">Enter your Password</label>
                <input type="password" name="password" class="form-input" placeholder="Password" required>
                <a href="#" class="forgot-password">Forgot Password?</a>
                <div style="clear: both;"></div>
            </div>
            
            <button type="submit" class="login-btn">LOGIN</button>
        </form>
        <div class="divider">
            <span>OR</span>
        </div>
        
        <a href="/accounts/google/login/" class="google-btn">
            <div class="google-icon"></div>
            Sign in with Google
        </a>
    </div>
</body>
</html>