{% load static %}
<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="{% static 'css/recipe1.css' %}" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=[object Object]&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=[object Object]&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=[object Object]&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=[object Object]&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="zestora-recipes-1">
    		<div class="blog">
      			<div class="hero-wrapper">
        				<div class="text">
          					<div class="tag-wrapper">
            						<div class="zestora-recipes-1-text">recipe</div>
          					</div>
          					<div class="headline-1">Savory Herb-Infused Chicken</div>
          					<div class="paragraph-1">Welcome to Zestora, where culinary dreams come alive! Today, we embark on a journey of flavors with a dish that promises to elevate your dining experience – our Umami Infusion Delight: Savory Herb-Infused Chicken</div>
        				</div>
        				<div class="item-wrapper">
          					<div class="item">
            						<img class="mditimer-icon" alt="">
            						
            						<div class="text2">40 Min</div>
          					</div>
          					<div class="item-wrapper-child">
          					</div>
          					<div class="item">
            						<img class="mditimer-icon" alt="">
            						
            						<div class="text2">Easy prep</div>
          					</div>
          					<div class="item-wrapper-child">
          					</div>
          					<div class="item">
            						<img class="mditimer-icon" alt="">
            						
            						<div class="text2">3 serves</div>
          					</div>
        				</div>
        				<img class="hero-image-icon" alt="">
        				
      			</div>
      			<div class="blog-wrapper">
        				<div class="blog-text-wrapper">
          					<div class="text-wrapper">
            						<div class="paragraph-2">
              							<p class="imagine-tender-chicken">Imagine tender chicken embraced by a medley of fresh herbs and aromatic seasonings. This is a harmonious blend of earthy flavors that will captivate your senses and elevate your dining experience. Come along as we explore the mastery of herb-infused roasting and discover the techniques for crafting a dish that transforms a simple meal into an extraordinary culinary journey.</p>
              							<p class="imagine-tender-chicken">&nbsp;</p>
              							<p class="imagine-tender-chicken">As you warm your oven, picture your kitchen enveloped in the rich fragrance of fresh herbs and warming spices, creating the perfect atmosphere for a memorable feast that goes beyond everyday cooking. The excitement grows as the chicken develops a beautiful herb-crusted exterior, guaranteeing a meal that combines rustic charm with refined taste.Whether you're an experienced home cook or just beginning your culinary adventure, this recipe encourages you to embrace the art of herb cookery, crafting a dish that will create cherished memories around your dinner table.</p>
            						</div>
          					</div>
          					<div class="zestora-recipes-1-text-wrapper">
            						<b class="subtitle">Let’s go over the basics– the do’s, and the don’ts– for How to Cook a chicken</b>
            						<div class="zestora-recipes-1-subtitle">Do’s:</div>
            						<div class="zestora-recipes-1-paragraph-2">
              							<p class="maintain-cleanliness">Maintain Cleanliness:</p>
              							<p class="always-wash-hands">Always wash hands, utensils, and work surfaces before and after handling raw poultry to prevent contamination.</p>
            						</div>
            						<div class="zestora-recipes-1-paragraph-2">
              							<p class="maintain-cleanliness">Use Dedicated Tools:</p>
              							<p class="keep-separate-cutting">Keep separate cutting boards exclusively for raw chicken to maintain food safety standards.</p>
            						</div>
            						<div class="zestora-recipes-1-paragraph-2">
              							<p class="maintain-cleanliness">Monitor Temperature:</p>
              							<p class="keep-separate-cutting">Use a reliable meat thermometer to ensure the chicken reaches the safe internal temperature of 165°F (74°C).</p>
            						</div>
            						<div class="zestora-recipes-1-subtitle">Don'ts:</div>
            						<div class="zestora-recipes-1-paragraph-2">
              							<p class="maintain-cleanliness">Never Thaw at Room Temperature:</p>
              							<p class="keep-separate-cutting">Always thaw chicken in the refrigerator to prevent harmful bacterial growth.</p>
            						</div>
            						<div class="zestora-recipes-1-paragraph-2">
              							<p class="maintain-cleanliness">Avoid Overcrowding: </p>
              							<p class="keep-separate-cutting">Give chicken pieces adequate space in the roasting pan for uniform cooking and proper heat circulation.</p>
            						</div>
          					</div>
          					<div class="text-wrapper2">
            						<b class="headline-2">Instructions</b>
            						<div class="paragraph-26">
              							<p class="imagine-tender-chicken">This herb-infused recipe celebrates the beautiful complexity that comes from combining fresh herbs with perfectly roasted chicken. Each herb contributes its unique character, creating layers of flavor that develop and intensify during the roasting process..</p>
              							<p class="imagine-tender-chicken">&nbsp;</p>
              							<p class="imagine-tender-chicken">Allow the chicken to rest for 10 minutes before carving. This brief resting period is essential; it allows the juices to redistribute, ensuring each slice is succulent and bursting with flavor. As you carve into the golden exterior, be prepared for the enticing aroma that fills the air, signaling that your Herby Infusion Delight is ready to be savored.</p>
            						</div>
          					</div>
          					<div class="text-wrapper3">
            						<div class="text2">Preparation and Preheating</div>
            						<div class="paragraph-26">
              							<ul class="gently-separate-the-chicken-sk">
                								<li class="preheat-your-oven">Preheat your oven to 400°F (200°C).</li>
                								<li>Rinse the chicken inside and out, then pat it dry with paper towels.</li>
              							</ul>
            						</div>
          					</div>
          					<div class="text-wrapper3">
            						<div class="text2">Herb Infusion Technique</div>
            						<div class="paragraph-26">
              							<ul class="gently-separate-the-chicken-sk">
                								<li class="preheat-your-oven">Gently separate the chicken skin from the breast meat using your fingers.</li>
                								<li>Massage the minced garlic and half of the fresh herb mixture directly onto the meat under the skin, ensuring even distribution across the breast and thigh areas..</li>
              							</ul>
            						</div>
          					</div>
          					<img class="image-icon" alt="">
          					
          					<div class="text-wrapper3">
            						<div class="text2">Herb Crust Creation</div>
            						<div class="paragraph-26">
              							<ul class="gently-separate-the-chicken-sk">
                								<li class="preheat-your-oven">Position the seasoned chicken breast-side up in your roasting pan, surrounded by quartered onions.</li>
                								<li>Generously coat the entire exterior of the chicken with this mixture, working it into every crevice for maximum flavor penetration.</li>
              							</ul>
            						</div>
          					</div>
          					<img class="image-icon" alt="">
          					
          					<div class="text-wrapper3">
            						<div class="text2">Roasting Process</div>
            						<div class="paragraph-26">
              							<ul class="gently-separate-the-chicken-sk">
                								<li class="preheat-your-oven">Position the seasoned chicken breast-side up in your roasting pan, surrounded by quartered onions.</li>
                								<li class="preheat-your-oven">Roast in the preheated oven for approximately 55-65 minutes, or until the internal temperature reaches 165°F (74°C) when measured at the thickest part of the thigh.</li>
                								<li class="preheat-your-oven">Allow the chicken to rest undisturbed for 15 minutes before carving.</li>
                								<li>As you slice through the herb-crusted skin, the aromatic steam will announce that your masterpiece is ready to enjoy.</li>
              							</ul>
            						</div>
          					</div>
          					<img class="video-icon" alt="">
          					
          					<div class="text-wrapper7">
            						<div class="subtitle7">Pairing Suggestions</div>
            						<div class="paragraph-2">
              							<ol class="gently-separate-the-chicken-sk">
                								<li class="preheat-your-oven">
                  									<span>Side Dish: The earthy herbs pair magnificently with carrots, parsnips, and potatoes roasted alongside the chicken. Or a fragrant rice dish that echoes the herb theme while providing a satisfying base for the meal.</span>
                								</li>
                								<li>
                  									<span>Wine: Pair with a crisp </span>
                  									<span class="white-wine">white wine</span>
                  									<span class="or-a"> or a </span>
                  									<span class="white-wine">light rosé</span>
                  									<span class="or-a"> for a well-balanced meal. Or sparkling herb-infused water or fresh iced tea with mint provides a refreshing contrast.</span>
                								</li>
              							</ol>
            						</div>
            						<div class="paragraph-2">
              							<p class="imagine-tender-chicken">The marriage of thyme, rosemary, sage, and garlic creates a rustic, herbaceous masterpiece that elevates classic roast chicken to new heights. The slow roasting allows the flavors to infuse deeply, delivering a meal that is equal parts cozy and refined.</p>
              							<p class="imagine-tender-chicken">Whether you’re planning a weeknight family dinner or presenting a centerpiece for a gathering, this Savory Herb-Infused Roasted Chicken brings the timeless taste of herbs to your table in the most delicious way.</p>
            						</div>
          					</div>
          					<div class="button">
            						<div class="text5">Share</div>
            						<div class="icon-wrapper">
              							<img class="mditimer-icon" alt="">
              							
              							<img class="mditimer-icon" alt="">
              							
              							<img class="mditimer-icon" alt="">
              							
            						</div>
          					</div>
          					<div class="separation-line">
          					</div>
          					<div class="author-wrapper">
            						<img class="author-image-icon" alt="">
            						
            						<div class="text-wrapper8">
              							<div class="copy">
                								<div class="small-text">Shirin Akter</div>
                								<div class="zestora-recipes-1-small-text">In the realm of herb cookery, I'm dedicated to transforming simple ingredients into extraordinary experiences. Kitchen Herb Garden is more than a recipe collection; it's a community where the passion for fresh flavors brings people together.</div>
              							</div>
              							<div class="zestora-recipes-1-button">
                								<div class="zestora-recipes-1-text">view profile</div>
              							</div>
            						</div>
          					</div>
        				</div>
        				<div class="featured-section-wrapper">
          					<div class="text-wrapper10">
            						<div class="text2">Ingredients</div>
            						<div class="zestora-recipes-1-paragraph-1">
              							<ul class="whole-chicken-about-3-4-pound">
                								<li class="preheat-your-oven">1 whole chicken (about 3-4 pounds)</li>
                								<li class="preheat-your-oven">3 tablespoons fresh rosemary, chopped (or 2 tablespoons dried)</li>
                								<li class="preheat-your-oven">3 tablespoons fresh thyme, chopped (or 2 tablespoons dried)</li>
                								<li class="preheat-your-oven">2 tablespoons fresh sage, chopped (or 1 tablespoon dried)</li>
                								<li class="preheat-your-oven">6 cloves garlic, minced</li>
                								<li class="preheat-your-oven">3 tablespoons olive oil</li>
                								<li class="preheat-your-oven">1 tablespoon smoked paprika</li>
                								<li class="preheat-your-oven">2 teaspoons onion powder</li>
                								<li class="preheat-your-oven">Salt and black pepper to taste</li>
                								<li>1 large onion, quartered</li>
              							</ul>
            						</div>
          					</div>
          					<div class="item3">
            						<div class="subtitle8">Equipment Needed for Preparation</div>
            						<div class="paragraph-213">
              							<ul class="gently-separate-the-chicken-sk">
                								<li class="preheat-your-oven">Large roasting pan</li>
                								<li class="preheat-your-oven">Digital meat thermometer</li>
                								<li class="preheat-your-oven">Sharp carving knife</li>
                								<li class="preheat-your-oven">Kitchen twine</li>
                								<li>Herb brush or basting brush</li>
              							</ul>
            						</div>
          					</div>
          					<div class="item4">
            						<div class="zestora-recipes-1-subtitle">Nutritional Value</div>
            						<div class="zestora-recipes-1-small-text">Per serving (based on a 4-pound chicken):</div>
            						<div class="mixed-text">
              							<p class="imagine-tender-chicken">
                								<span class="calories">Calories: </span>
                								<span class="span">~265</span>
              							</p>
              							<p class="imagine-tender-chicken">
                								<span class="calories">Protein: </span>
                								<span class="span">~32g</span>
              							</p>
              							<p class="imagine-tender-chicken">
                								<span class="calories">Total Fat: </span>
                								<span class="span">~14g</span>
              							</p>
              							<p class="imagine-tender-chicken">
                								<span class="calories">Carbohydrates:</span>
                								<span class="span"> ~3g</span>
              							</p>
              							<p class="imagine-tender-chicken">
                								<span class="calories">Fiber: </span>
                								<span class="span">~1g</span>
              							</p>
            						</div>
          					</div>
          					<div class="small-text2">Note: Nutritional values are approximate and may vary based on specific ingredients and portion sizes.</div>
        				</div>
      			</div>
    		</div>
    		<div class="featured-section">
      			<div class="header-wrapper">
        				<b class="headline-22">Similar recipes</b>
        				<div class="arrow-wrapper">
          					<img class="arrow-left-icon" alt="">
          					
          					<img class="arrow-right-icon" alt="">
          					
        				</div>
      			</div>
      			<div class="card-wrapper">
        				<div class="recipe-card">
          					<img class="recipe-image-icon" alt="">
          					
          					<div class="text-wrapper11">
            						<div class="copy">
              							<b class="headline-3">Lemon Garlic Roasted Chicken</b>
              							<div class="paragraph-215">Indulge in the rich and Citrusy symphony of flavors with our Lemon Garlic Roasted Chicken</div>
            						</div>
            						<div class="info-wrapper">
              							<div class="text5">1 Hour - hard prep - 4 serves</div>
              							<div class="button2" id="buttonContainer">
                								<div class="zestora-recipes-1-text">view recipe</div>
              							</div>
            						</div>
          					</div>
        				</div>
        				<div class="zestora-recipes-1-recipe-card">
          					<img class="zestora-recipes-1-recipe-image-icon" alt="">
          					
          					<div class="text-wrapper12">
            						<div class="copy">
              							<b class="headline-3">Decadent Chocolate Mousse</b>
              							<div class="paragraph-215">Dive into the velvety indulgence of our Decadent Chocolate Mousse. A dessert that transcends sweetness!</div>
            						</div>
            						<div class="info-wrapper">
              							<div class="text5">30 Min - medium prep- 4 serves</div>
              							<div class="button3">
                								<div class="zestora-recipes-1-text">view recipe</div>
              							</div>
            						</div>
          					</div>
          					<div class="tag">
            						<img class="icon3" alt="">
            						
            						<img class="text-icon" alt="">
            						
            						<img class="zestora-recipes-1-text-icon" alt="">
            						
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="navigation">
      			<div class="logo-nav-bar" id="logoNavBar">
        				<div class="div">
          					<div class="zestora-recipes-1-div">
            						<div class="zestora">Zestora</div>
          					</div>
        				</div>
      			</div>
      			<div class="link-wrapper">
        				<div class="link" id="linkContainer">
          					<div class="zestora-recipes-1-text">Home</div>
        				</div>
        				<div class="zestora-recipes-1-link">
          					<div class="text12">RECIPES</div>
        				</div>
        				<div class="link2">
          					<div class="zestora-recipes-1-text">CATEGORIES</div>
        				</div>
        				<div class="link2">
          					<div class="zestora-recipes-1-text">GUIDEBOOKS</div>
        				</div>
        				<div class="link4" id="linkContainer4">
          					<div class="text15">cooking tips</div>
        				</div>
        				<div class="link4" id="linkContainer5">
          					<div class="zestora-recipes-1-text">COMMUNITY</div>
        				</div>
        				<div class="link2">
          					<div class="zestora-recipes-1-text">about us</div>
        				</div>
      			</div>
      			<img class="search-icon" alt="">
      			
      			<div class="button-wrapper">
      			</div>
    		</div>
    		<div class="cta-section">
      			<div class="cta-bg">
        				<div class="bg">
        				</div>
      			</div>
      			<div class="text-wrapper13">
        				<div class="text18">
          					<b class="text19">subscribe</b>
          					<b class="header-2">
            						<p class="imagine-tender-chicken">Join the fun</p>
            						<p class="imagine-tender-chicken">Subscribe now!</p>
          					</b>
          					<b class="paragraph-12">Subscribe to our newsletter for a weekly serving of recipes, cooking tips, and exclusive insights straight to your inbox.</b>
        				</div>
        				<div class="input-wrapper">
          					<div class="input">
            						<b class="text20">Email Address</b>
          					</div>
          					<div class="button4">
            						<b class="text21">subscribe</b>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="footer">
      			<div class="wrapper">
        				<div class="logo-footer">
        				</div>
        				<div class="zestora-recipes-1-link-wrapper">
          					<div class="zestora-recipes-1-text">Home</div>
          					<div class="zestora-recipes-1-separation-line">
          					</div>
          					<div class="zestora-recipes-1-text">recipes</div>
          					<div class="zestora-recipes-1-separation-line">
          					</div>
          					<div class="zestora-recipes-1-text">cooking tips</div>
          					<div class="zestora-recipes-1-separation-line">
          					</div>
          					<div class="zestora-recipes-1-text">About us</div>
        				</div>
        				<div class="zestora-recipes-1-icon-wrapper">
          					<img class="mditimer-icon" alt="">
          					
          					<img class="mditimer-icon" alt="">
          					
          					<img class="mditimer-icon" alt="">
          					
          					<img class="mditimer-icon" alt="">
          					
        				</div>
      			</div>
      			<div class="small-text3">Copyright: © 2025 Zestora.</div>
    		</div>
    		<div class="button-parent">
      			<div class="button5" id="buttonContainer">
        				<div class="login">Login</div>
      			</div>
      			<div class="button6" id="buttonContainer1">
        				<div class="sign-up">Sign Up</div>
      			</div>
    		</div>
    		<div class="button7" id="buttonContainer">
      			<div class="sign-up">Sign Up</div>
    		</div>
    		<div class="recipes-1-zestora">Zestora</div>
    		<div class="image-1">
    		</div>
  	</div>
  	
  	
  	
  	
  	<script>
    		var buttonContainer = document.getElementById("buttonContainer");
    		if(buttonContainer) {
      			buttonContainer.addEventListener("click", function (e) {
        				// Add your code here
      			});
    		}
    		
    		var logoNavBar = document.getElementById("logoNavBar");
    		if(logoNavBar) {
      			logoNavBar.addEventListener("click", function (e) {
        				// Add your code here
      			});
    		}
    		
    		var linkContainer = document.getElementById("linkContainer");
    		if(linkContainer) {
      			linkContainer.addEventListener("click", function (e) {
        				// Add your code here
      			});
    		}
    		
    		var linkContainer4 = document.getElementById("linkContainer4");
    		if(linkContainer4) {
      			linkContainer4.addEventListener("click", function (e) {
        				// Add your code here
      			});
    		}
    		
    		var linkContainer5 = document.getElementById("linkContainer5");
    		if(linkContainer5) {
      			linkContainer5.addEventListener("click", function (e) {
        				// Add your code here
      			});
    		}
    		
    		var buttonContainer1 = document.getElementById("buttonContainer1");
    		if(buttonContainer1) {
      			buttonContainer1.addEventListener("click", function (e) {
        				// Add your code here
      			});
    		}</script></body>
</html>
